*{

 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 10;
padding: 0;

}

.basy{
    background-color: #fff;
    position:absolute;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 100px;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
    transition: all .4s linear;
}

.basy h1{
    font-size: 50px;
    text-shadow: 1px 1px 0.2px #000000;
    position: relative;
    margin-left: 5%;
    color:#510061;
}
.menu{
    position:absolute;
    font-size: inherit;
    font-weight: normal; 
    display: block;
    flex-basis: auto;
    flex-grow: 1;
    flex-wrap: nowrap;
    left: 400px;
    top: 5px;
}
.menu ul{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    color:#510061;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-size: inherit;
    font-weight: normal;
}
.menu li{
    font-size: 1.125rem;
    margin-right: 40px;
    touch-action: manipulation;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
    display: flex;
    
}
.menu a{
    color: inherit;
    text-decoration: none;
    transition: color .1s linear;
    display: block;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 500;
    white-space: nowrap;
}



.mk{
gap: 5%;
display: flex;
flex-wrap: wrap;
margin: 20px;

}
.mk img{
    margin: 25px;
    position: relative;
}