*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(255, 248, 238);
}
.basy{
    background-color: #fff;
    position:absolute;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 100px;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
    transition: all .4s linear;
}

.basy h1{
    font-size: 50px;
    text-shadow: 1px 1px 0.2px #000000;
    position: relative;
    margin-left: 5%;
    color:#510061;
}
.menu{
    position:absolute;
    font-size: inherit;
    font-weight: normal; 
    display: block;
    flex-basis: auto;
    flex-grow: 1;
    flex-wrap: nowrap;
    left: 400px;
    top: 5px;
}
.menu ul{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    color:#510061;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-size: inherit;
    font-weight: normal;
}
.menu li{
    font-size: 1.125rem;
    margin-right: 40px;
    touch-action: manipulation;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
    display: flex;
    
}
.menu a{
    color: inherit;
    text-decoration: none;
    transition: color .1s linear;
    display: block;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 500;
    white-space: nowrap;
}



#a5{
    font-size: 125%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(56, 52, 52);
    height: 100%;
    padding-top: 4%;
    padding-left: 5%;
}
.mk4{
    display: flex;
    gap: 7%;
}
#a6 iframe {
   width: 150%;
   height: 100%;
   border-radius:10px;
   margin-left: 30%;
}
#a7 img{
    width: 100%;

}
#a8 img {
    width: 100%;
}
#a7{
    width: auto;
    background-color: white;
    box-shadow: 0 0 10px;
    margin-left: 15%;
    
}
#a8{
    width: auto;
    background-color: white;
    box-shadow: 0 0 10px;
    margin-left: 1%;
}
.mk5{
    display: flex;
    gap: 7%;
    margin-top: 6%;
}
#a11 iframe {
   width: 170%;
   border-radius:10px;
   height: 100%;

}
#a9 img{
    width: 100%;

}
#a10 img {
    width: 100%;
}
#a9{
    width: 20%;
    background-color: white;
    box-shadow: 0 0 10px;
    margin-left:5%;
}
#a10{
    width: auto;
    background-color: white;
    box-shadow: 0 0 10px;
}
.mk6{
    display: flex;
    gap: 7%;
    margin-top: 6%;
}
#a12 img {
   width: 100%;
   border-radius:10px;
   margin-left:15%;
}
#a13 img{
    width: 100%;
}
#a14 img {
    width: 100%;
}
#a13{
    width: auto;
    background-color: white;
    box-shadow: 0 0 10px;
    margin-left: 5%;
}
#a14{
    width: auto;
    background-color: white;
    box-shadow: 0 0 10px;
    margin-right: 2%;
}
.mk7{
    height: 100px;
}
h2{
    animation: bounce .5s alternate infinite ease-in;
}

@media screen and (min-width:1601px) {
    @keyframes bounce {
      0% {
        transform: translateX(50%);
      }
      100% {
        transform: translateX(-50%);
      }
    }
    
    h2 {
      color: red;
      display: inline-block; 
    }
  }
  
  @media screen and (max-width:1600px) {
    @keyframes bounce {
      0% {
        transform: translateY(-200%);
      }
      100% {
        transform: translateY(0);
      }
    }
    
    h2 {
      color: green;
      display: block; 
    }
  }