body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-width: 100%;
    font-family: Serif;
}
.basy{
    background-color: #550065;
    background-image: url(image.png);
    color: #fff;
   font-size: 35px;
    position: absolute;
    z-index: 11;
    text-align: center;
    width: 100%;
    height: auto;
}
.basy img{
    position:relative;
    width: 1800px;
}
